.red {
  color: red;
}

.bold {
  font-weight: bold;
}

.Button {
  background-color: green;
  border: 1px solid blue;
  padding: 8px;
  font: inherit;
  color: white;
  cursor: pointer;
}

.Button:hover {
  background-color: lightgreen;
  color: black;
}

.Button.red {
  background-color: red;
}

.Button.red:hover {
  background-color: salmon;
  color: black;
}
